
###############
# Directories 
.vs
bin/
obj/
PublishProfiles/

###############
# specific environment variables
appsettings.development.json
appsettings.production.json
/HoverStaticRoot/junk.html
/HoverStaticRoot/img/iminteractive.jpg
