
<configuration>

  <system.webServer>
    <rewrite>
      <rules>
        <!-- Log files will have imt/HUlogo(userHash)(source).svg (png, or any 3 character extention) so we know if emails are viewed with images -->
        <rule name="image.userHash" stopProcessing="true">
          <match url="^HUlogo(.+)\.([a-z]{3})$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" pattern="HUlogo(.+)\.([a-z]{3})" />
          </conditions>
          <action type="Rewrite" url="../img/HUlogo.{R:2}"  />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>